.panel .sidebar .mainMenu ul li.active {
    background: var(--color-background-light);
    border-radius: 4px;
}

.panel .sidebar .mainMenu ul li.active button * {
    color: var(--white);
}

.panel .sidebar .mainMenu ul li button {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.5s;
    font-weight: 700;
    font-size: 1.3rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 1rem 1.6rem;
}

.panel .sidebar .mainMenu ul li button:focus {
    outline: none !important;
}

.panel .sidebar .mainMenu ul li button span {
    margin-left: 1.5rem;
}

.panel .sidebar .mainMenu ul li:hover button {
    color: var(--white);
}